<p id="notice"><%= notice %></p>

<p>
  <strong>Subdate:</strong>
  <%= @djrmaster.subdate %>
</p>

<p>
  <strong>Subnum:</strong>
  <%= @djrmaster.subnum %>
</p>

<p>
  <strong>Subform:</strong>
  <%= @djrmaster.subform %>
</p>

<p>
  <strong>Subformver:</strong>
  <%= @djrmaster.subformver %>
</p>

<p>
  <strong>Sectname:</strong>
  <%= @djrmaster.sectname %>
</p>

<p>
  <strong>Projname:</strong>
  <%= @djrmaster.projname %>
</p>

<p>
  <strong>Djrdate:</strong>
  <%= @djrmaster.djrdate %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @djrmaster.weather %>
</p>

<p>
  <strong>Foreman:</strong>
  <%= @djrmaster.foreman %>
</p>

<p>
  <strong>Jobphase:</strong>
  <%= @djrmaster.jobphase %>
</p>

<p>
  <strong>Worktoday:</strong>
  <%= @djrmaster.worktoday %>
</p>

<p>
  <strong>Accdelay:</strong>
  <%= @djrmaster.accdelay %>
</p>

<p>
  <strong>Workschednextday:</strong>
  <%= @djrmaster.workschednextday %>
</p>

<%= link_to 'Edit', edit_djrmaster_path(@djrmaster) %> |
<%= link_to 'Back', djrmasters_path %>
